<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.fynn.oyseckill"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <uses-permission android:name="cn.bmob.permission.push"/>

    <permission
        android:name="cn.bmob.permission.push"
        android:protectionLevel="normal"/>

    <application
        android:name=".app.core.MyApplication"
        android:allowBackup="true"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Tencent MTA -->
        <meta-data
            android:name="InstallChannel"
            android:value="debug"/>

        <!-- Baidu MJT -->
        <meta-data
            android:name="BaiduMobAd_STAT_ID"
            android:value="你的百度统计id"/>

        <meta-data
            android:name="BaiduMobAd_CHANNEL"
            android:value="debug"/>

        <meta-data
            android:name="BaiduMobAd_EXCEPTION_LOG"
            android:value="true"/>

        <activity
            android:name=".app.module.main.SplashActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/AppTheme.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".app.module.main.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>

        <activity
            android:name=".app.module.account.lgrg.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".app.module.account.lgrg.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".web.WebActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".app.module.account.config.SettingsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".app.module.account.user.UserInfoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".app.module.account.user.ModifyNicknameActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".app.module.account.user.ResetPasswordActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".app.module.account.user.ModifyPasswordActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".app.module.account.user.AddressActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".app.module.account.user.EditAddressActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".app.module.account.pay.RechargeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".app.module.account.pay.RechargeResultActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".app.module.account.redpkg.RedEnvelopeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".app.module.home.detail.ProductDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".app.module.home.detail.ProductImageTextDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".app.module.home.detail.ForwardAnnActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".app.module.account.user.OrderShareActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".app.module.find.OrderShareDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".app.module.account.config.AboutActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".app.module.account.user.MySeckillActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".app.module.home.detail.ProductOrderShareActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".app.module.account.config.QaActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".app.module.account.config.FeedbackActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".app.module.account.user.LuckRecordActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".app.module.account.user.OrderStatusActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".app.module.account.user.ChooseAddressActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".app.module.account.user.SeckillNoDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".app.module.account.user.OrderShareEditActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".app.module.account.user.AccountDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".app.module.account.pay.PayConfirmActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".app.module.home.detail.CompNumDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".app.module.account.pay.PayResultActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".app.module.account.config.AssistanceDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden">

        </activity>

        <activity
            android:name=".app.module.account.config.ServiceActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden">

        </activity>

        <!-- Share SDK -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <!-- QQ和QQ空间分享 QQ登录的回调必须要配置的 -->
            <intent-filter>
                <data android:scheme="tencent[这里填写你的qq开发者 id]"/> <!-- 例如:tencent1105245345 -->
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <!-- 新浪微博客户端分享回调必须配置 -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <meta-data
                android:name="AuthorizeAdapter"
                android:value="com.fynn.oyseckill.app.core.MyAuthorizeAdapter"/>
        </activity>

        <!--微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <receiver
            android:name=".app.core.CoreReceiver"
            android:exported="true"
            android:label="CoreReceiver">
            <intent-filter android:priority="2147483647"> <!-- 优先级加最高 -->
                <!-- 系统启动完成后会调用 -->
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <!-- 解锁完成后会调用 -->
                <action android:name="android.intent.action.USER_PRESENT"/>
                <!-- 监听网络连通性 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <!-- Bmob Push -->
                <action android:name="cn.bmob.push.action.MESSAGE"/>
            </intent-filter>
        </receiver>

        <service android:name=".app.core.IpService">
            <intent-filter>
                <action android:name=".app.core.IpService"/>
            </intent-filter>
        </service>

        <service android:name=".app.core.MessageService">
            <intent-filter>
                <action android:name=".app.core.MessageService"/>
            </intent-filter>
        </service>

        <service android:name=".app.core.CoreService">
            <intent-filter>
                <action android:name=".app.core.CoreService"/>
            </intent-filter>
        </service>

        <!-- Bmob Upgrade -->
        <activity
            android:name="cn.bmob.v3.update.UpdateDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!-- Bmob Push -->

        <service
            android:name="cn.bmob.push.lib.service.PushService"
            android:exported="true"
            android:label="PushService"
            android:permission="cn.bmob.permission.push"
            android:process=":bmobpush">
            <intent-filter>
                <action android:name="cn.bmob.push.lib.service.PushService"/>
            </intent-filter>
        </service>

        <service
            android:name="cn.bmob.push.lib.service.PushNotifyService"
            android:process=":bmobpush">
        </service>

        <receiver android:name="cn.bmob.push.PushReceiver">
            <intent-filter>
                <!-- 系统启动完成后会调用 -->
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <!-- 解锁完成后会调用 -->
                <action android:name="android.intent.action.USER_PRESENT"/>
                <!-- 监听网络连通性 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <!-- 接收心跳和唤醒的广播，要和PushService运行在同个进程 -->
        <receiver
            android:name="cn.bmob.push.PushNotifyReceiver"
            android:process=":bmobpush">
            <intent-filter>
                <!-- 接收心跳广播的action -->
                <action android:name="cn.bmob.push.action.HEARTBEAT"/>
                <!-- 接收唤醒广播的action -->
                <action android:name="cn.bmob.push.action.NOTIFY"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>